parameters:
    level: 7
    paths:
        - src
        - tests
    checkMissingIterableValueType: false
    ignoreErrors:
        - message: '~Method [a-zA-Z0-9\\_]+::from[a-zA-Z0-9_]*\(\) has no return typehint specified.~'
          path: 'src/Status.php'
        - message: '~Method [a-zA-Z0-9\\_]+Rate::[a-zA-Z0-9_]*\(\) has no return typehint specified.~'
          path: 'src/Rate.php'
        - message: '~Strict comparison using === between int and false will always evaluate to false.~'
          path: 'src/ApcuRateLimiter.php'

includes:
    - vendor/phpstan/phpstan-beberlei-assert/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
